<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.added.addedteacher">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">


        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".MainActivity1"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".LauncherActivity"
            android:label="Added Teacher"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="receiver.SampleAlarmReceiver"></receiver>
        <receiver android:name="receiver.AddedSyncReceiver"></receiver>
        <receiver android:name="receiver.SampleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".WifiReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="service.SampleSchedulingService" />
        <service android:name="service.AddedSyncService"/>
    </application>

</manifest>
